<h3><%= @continents.count %> Continents /
    <%= Country.where(s:true).count %> Supras /
    <%= Country.where(c:true).count %> Countries /
    <%= Country.where(d:true).count %> Territories
</h3>




<p>
  Sort By: <%= link_to 'Key A-Z', continents_path( :order => 'key' )  %>
          &bull;
          <%= link_to 'Title A-Z', continents_path( :order => 'title' )  %>
          &bull;
          <%= link_to 'Code A-Z', continents_path( :order => 'code' )  %>
          &bull;
        <%= link_to 'Population', continents_path( :order => 'pop' ) %>
          &bull;
        <%= link_to 'Area (in km²)', continents_path( :order => 'area' ) %>
</p>



<% Continent.all.each do |continent| %>

<h4>
      <%= continent.title %>
</h4>

  <% count = continent.countries.where( s: true ).count
     if count > 0
   %>
<p>
   <%= render_countries( continent.countries.where( s: true ), order: @order, count: count ) %>
</p>
<% end %>


  <% count = continent.countries.where( c: true ).count
     if count > 0
   %>
<p>
   <%= render_countries( continent.countries.where( c: true ), order: @order, count: count ) %>
</p>
<% end %>


  <% count = continent.countries.where( d: true ).count
     if count > 0
   %>
<p>
   <%= render_countries( continent.countries.where( d: true ), order: @order, count: count ) %>
</p>
<% end %>

<% end %><!-- each continent -->