

<h2>What's <code>world.db</code>?</h2>

<p>
A free open world database &amp; schema.
  <a href="https://github.com/geraldb/world.db">More &raquo;</a>
</p>

<hr>


<table>
  <tr><td style='text-align: right'><%= Country.count %> </td><td>Countries</td></tr>
  <tr><td style='text-align: right'><%= Region.count %>  </td><td>Regions</td></tr>
  <tr><td style='text-align: right'><%= City.count %>    </td><td>Cities</td></tr>
  <tr><td style='text-align: right'><%= Tag.count %>    </td><td>Tags</td></tr>
  <tr><td style='text-align: right'><%= Tagging.count %>    </td><td>Taggings</td></tr>
  <tr><td></td><td></td></tr>
  <tr><td style='text-align: right'><%= Country.count+
              Region.count+
              City.count + Tag.count + Tagging.count %></td><td>Total</td></tr>
</table>


<h3><%= Country.count %> Countries </h3>

<!-- all countries tag cloud style -->
<p>
<% Country.by_key.each_with_index do |country,index| %>
  
  <% if index > 0 %>
    &bull;
  <% end %>
  
  <span class='country-key'>
   <%= country.key %>
  </span>
  <%= link_to country.title_w_synonyms, short_country_path( country ),
        :title => "#{number_to_human(country.pop)} / #{number_to_human(country.area)} km²",
        :class => country_style( country ) %>
<% end %>
</p>


<h3><%= City.count %> Cities </h3>

<!-- all cities tag cloud style -->
<p>
<% City.by_key.each_with_index do |city,index| %>

  <% if index > 0 %>
    &bull;
  <% end %>

  <span class='city-key'>
   <%= city.key %>
  </span>
  <%= link_to city.title_w_synonyms, short_city_path( city ),
        :title => "#{number_to_human(city.pop)} / M: #{number_to_human(city.popm)}",
        :class => city_style( city ) %>
<% end %>
</p>
