
<h3><%= @tag.key %></h3>

<% if @tag.countries.count > 0 %>
<h4><%= @tag.countries.count %> Countries</h4>

<p>
  <% @tag.countries.each_with_index do |country,index| %>
    <% if index > 0 %>
      &nbsp;
    <% end %>
     <span class='country-key'>
      <%= country.key %>
     </span> 
     <%= image_tag "flags/24x24/#{country.key}.png" %>
     <%= link_to country.title, short_country_path(country.key) %> (<%= country.code %>)
  <% end %>
</p>
<% end %>

<% if @tag.regions.count > 0 %>
<h4><%= @tag.regions.count %> Regions</h4>

<p>
  <% @tag.regions.each_with_index do |region,index| %>
    <% if index > 0 %>
      &nbsp;
    <% end %>
     <span class='region-key'>
      <%= "#{region.country.key}.#{region.key}" %>
     </span>
     <%= link_to region.title, short_region_path(region.country.key, region.key) %>
  <% end %>
</p>
<% end %>
