

<h3><%= Country.count %> Countries </h3>


<table>
  <tr>
     <td></td>
     <td>TLD</td>
     <td></td>
     <td>FIFA</td>
     <td></td>
     <td>ISO3</td>
     <td>Motor</td>
     <td>UN?</td>
     <td>FIFA?</td>
     <td>Languages</td>
  </tr>
  
  <% @countries.each do |country| %>
    <tr>
     <td class='country-key'><%= country.key %></td>
     <td style='white-space: nowrap;'>
        <% if country.net.present? %>
          <% if country.net != country.key %>
            <span class='code-ne'>&ne; .<%= country.net %></span>
          <% else %>
            .<%= country.net %>
          <% end %>
        <% else %>
            <span class='code-x'>x</span>
        <% end %>
     </td>
     <td>
        <%= country.title %>
       <span class='country-key'>
        <%= '*supra'      if country.is_supra?      %>
        <%= '*dependency' if country.is_dependency? %>
       </span>
     </td>
     <td  style='white-space: nowrap;'>
        <% if country.fifa.present? %>
          <% if country.fifa != country.code %>
            <span class='code-ne'><%= country.fifa %> &ne;</span>
          <% else %>
            <%= country.fifa %>
          <% end %>
        <% else %>
            <span class='code-x'>x</span>
        <% end %>
    </td>
     <td><%= country.code %></td>
     <td  style='white-space: nowrap;'>
        <% if country.iso3.present? %>
          <% if country.iso3 != country.code %>
            <span class='code-ne'>&ne; <%= country.iso3 %></span>
          <% else %>
            <%= country.iso3 %>
          <% end %>
        <% else %>
            <span class='code-x'>x</span>
        <% end %>
     </td>
     <td>
        <% if country.motor.present? %>
            <%= country.motor %>
        <% else %>
            <span class='code-x'>x</span>
        <% end %>
     </td>
     <td>
        <!-- check if un tag present
           fix: find a better way!! -->
        <% tags = country.tags.top.select { |tag| tag.key == 'un' } %>
        <% if tags.size > 0 %>
           Yes
        <% else %>
            <span class='code-x'>x</span>
        <% end %>
     </td>
     <td>
        <!-- check if un tag present
           fix: find a better way!! -->
        <% tags = country.tags.top.select { |tag| tag.key == 'fifa' } %>
        <% if tags.size > 0 %>
           Yes
        <% else %>
            <span class='code-x'>x</span>
        <% end %>
     </td>
     <td>
       <% if country.langs.count > 0 %>
  <% country.langs.each_with_index do |lang,index| %>
           <span class='lang-key'>
             <%= lang.key %>
           </span>
           <%= lang.title %>
   <% end %>
       <% else %>
            <span class='code-x'>x</span>
       <% end %>
     </td>     
    </tr>
  <% end %><!-- each country -->
</table>
