

<h3><%= @countries.count %> Countries / <%= City.count %> Cities</h3>

<p>
  All
   <span class='country-count'>
    (<%= @countries.count %>)
   </span>
<% Continent.all.each do |continent| %>
    &bull; 
   <%= continent.title %>
   <span class='country-count'>
      (<%= continent.countries.where( c: true ).count %>)
   </span>
<% end %>
</p>



<p>
  Sort By: <%= link_to 'A-Z', countries_path( :order => 'title' )  %>
          &bull;
        <%= link_to 'Population', countries_path( :order => 'pop' ) %>
          &bull;
        <%= link_to 'Area (in km²)', countries_path( :order => 'area' ) %>
        
        
        &nbsp; &nbsp; | &nbsp; &nbsp;
        
   Download:
   
       <%= link_to 'CSV', csv_countries_path(), :title => 'Comma-separated values; tabular data in plain text' %>
          &bull;
       <%= link_to 'Table', table_countries_path(), :title => 'Hypertext table' %>
</p>


<!--
<p>
  Filter By:
   <%# COUNTRY_FILTER_TAGS.each_with_index do |tag,index| %>
      <%# if index > 0 %>
         &bull;
      <%# end %>
      <%#= link_to tag, countries_path( :tag => tag ) %>
   <%# end %>
</p>
-->

<%= render :partial => 'countries', :locals => { :countries => @countries } %>
