

<h3><%= @countries.count %> Countries / <%= City.count %> Cities</h3>



<p>
  Sort By: <%= link_to 'A-Z', countries_path( :order => 'title' )  %>
          &bull;
        <%= link_to 'Population', countries_path( :order => 'pop' ) %>
          &bull;
        <%= link_to 'Area (in km²)', countries_path( :order => 'area' ) %>
        
        
        &nbsp; &nbsp; | &nbsp; &nbsp;
        
   Download: <%= link_to 'CSV', csv_countries_path(), :title => 'Comma-separated values; tabular data in plain text' %>     
</p>


<table>
<% @countries.each do |country| %>
  <tr>
    <td class='country-key'  style='vertical-align: baseline;'>
      <%= country.key %>
    </td>
    <td style='vertical-align: baseline;'>
      <%= image_tag "flags/24x24/#{country.key}.png" %>
    </td>
    <td style='vertical-align: baseline;'>
      <span style='white-space: nowrap;'>
<%= link_to "#{country.title} (#{country.code})", short_country_path( country ) %>
      </span>
      <br>
      <%= render_tags( country.tags ) %>
    </td>
    <td style='white-space: nowrap; vertical-align: baseline;'>
      <%= number_to_human( country.pop ) %>
    </td>
    <td style='white-space: nowrap; vertical-align: baseline;'>
      <%= number_to_human( country.area ) %> km²
    </td>
    
    <td  style='vertical-align: baseline; text-align: right;'>
<span class='city-count'>
(<%= country.cities.count %>)
</span>
    </td>
    <td style='vertical-align: baseline;'>
      <%= render_cities( country.cities ) %>
    </td>
  </tr>
      
<% end %><!-- each country -->
</table>
