
<h3>
<%= image_tag "flags/64x64/#{@country.key}.png" %>
<%= @country.title %> 
(<%= @country.code %>)


<% if @country.parent.present? %>
  / Part of
  <%= image_tag "flags/24x24/#{@country.parent.key}.png" %>
  <%= link_to "#{@country.parent.title} (#{@country.parent.code})", short_country_path( @country.parent.key ) %>
<% end %>

</h3>

<p>
  <%= render_tags( @country.tags ) %>
</p>

<% if @country.countries.count > 0 %>
<h4><%= @country.countries.count %> Countries</h4>

<table>
  <% @country.countries.each do |country| %>
     <tr>
      <td class='country-key' style='vertical-align: baseline;'>
        <%= country.key %>
      </td>
      <td style='vertical-align: baseline;'>
      <%= image_tag "flags/24x24/#{country.key}.png" %>
      </td>
      <td style='vertical-align: baseline;'>
        <%= link_to country.title_w_synonyms, short_country_path( country.key ) %>
        <br>
        <%= render_tags( country.tags ) %>
      </td>
     </tr>
  <% end %> <!-- each region -->
</table>
      
<% end %>



<h4><%= @country.regions.count %> Regions</h4>

<table>
  <% @country.regions.each do |region| %>
     <tr>
      <td class='region-key' style='vertical-align: baseline;'>
        <a name='<%= region.key %>'></a><!-- todo: use anchor helper, exists? check it -->
        <%= region.key %>
      </td>
      <td style='vertical-align: baseline;'>
        <%= region.title_w_synonyms %>
        <br>
        <%= render_tags( region.tags ) %>
      </td>
      <td style='vertical-align: baseline;'>
      <span class='city-count'>
          (<%= region.cities.count %>)
      </span>
      </td>
      <td style='vertical-align: baseline;'>
        <%= render_cities( region.cities) %>
      </td>
     </tr>
  <% end %> <!-- each region -->
</table>
      




<h4><%= @country.cities.count %> Cities</h4>

<table>
  <% @country.cities.each do |city| %>
    <tr>
      <td class='city-key'>
        <%= city.key %>
      </td>
      <td>
        <%= city.title_w_synonyms %>
      </td>
      <td>
        <%= number_to_human( city.pop ) %>
      </td>
    <td>
     <% if city.popm.present? %>
       M: <%= number_to_human( city.popm ) %>
     <% end %>
    </td>
      <td>
        <%= city.region.title if city.region.present? %>
      </td>
    </tr>
  <% end %> <!-- each city -->
</table>
