
<h3>
<%= image_tag "flags/24x24/#{@country.key}.png" %>
<%= @country.title %> 
(<%= @country.code %>)


<% if @country.parent.present? %>
  / Part of
  <%= image_tag "flags/24x24/#{@country.parent.key}.png" %>
  <%= @country.parent.title %> 
  (<%= @country.parent.code %>)
<% end %>

</h3>


<h4><%= @country.tags.count %> Tags</h4>

<p class='tags'>
  <% @country.tags.each_with_index do |tag,index| %>
     <%= '•' if index > 0 %>
     <%= link_to tag.key, tag_path(tag) %>
  <% end %><!-- each tag -->
</p>


<h4><%= @country.regions.count %> Regions</h4>

<table>
  <% @country.regions.each do |region| %>
     <tr>
      <td class='region-key' style='vertical-align: baseline;'>
        <%= region.key %>
      </td>
      <td style='vertical-align: baseline;'>
        <%= region.title_w_synonyms %> <br>
        <span class='tags'>
  <% region.tags.each_with_index do |tag,index| %>
     <%= '•' if index > 0 %>
     <%= link_to tag.key, tag_path(tag) %>
  <% end %><!-- each tag -->
      </span>
      </td>
      <td style='vertical-align: baseline;'>
      <span class='city-count'>
          (<%= region.cities.count %>)
      </span>
      </td>
      <td style='vertical-align: baseline;'>
         <% region.cities.each_with_index do |city,index| %>
           <%= '•' if index > 0 %>
           <%= city.title %>
         <% end %><!-- each city -->
      </td>
     </tr>
  <% end %> <!-- each region -->
</table>
      




<h4><%= @country.cities.count %> Cities</h4>

<table>
  <% @country.cities.each do |city| %>
    <tr>
      <td class='city-key'>
        <%= city.key %>
      </td>
      <td>
        <%= city.title_w_synonyms %>
      </td>
      <td>
        <%= city.pop %>
      </td>
    </tr>
  <% end %> <!-- each city -->
</table>
