<!DOCTYPE html>
<html>
<head>
  <title>world.db Web Admin</title>
  <%= stylesheet_link_tag    "world_db_admin/application", :media => "all" %>
  <%= javascript_include_tag "world_db_admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

 <p>
  <%= link_to 'Continents', continents_path() %>  &bull;
  <%= link_to 'Countries', countries_path() %>  &bull;
  <%= link_to 'Territories', territories_path() %>  &bull;
  <%= link_to 'Regions', regions_path() %>  &bull;
  <%= link_to 'Cities', cities_path() %> &bull;
  <%= link_to 'Places A-Z', places_path() %> &bull;
  <%= link_to 'Tags', tags_path() %>  &bull;  
  <%= link_to 'Languages', langs_path() %>  &bull;  
  <%= link_to 'Codes', codes_path() %>  &bull;  
  <%= link_to 'About', about_path() %>
  
    
  <% if worlddb_api_defined? %>

     .::.

    <!-- fix: use named url_helper for /api
        fix: use main_app.api_path() ??? why? why not?
     -->
     <%= link_to "Web Service Demo & Docu / HTTP API (JSON / CSV)", '/api' %>
  <% end %>

  <!-- todo: add some more links -->
 </p>

<div class='content'>
<%= yield %>
</div>

<div class='version'>
<%= powered_by %>
</div>

</body>
</html>
