<!DOCTYPE html>
<html>
<head>
  <title>world.db Web Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

 <p>
  <%= link_to 'Countries', countries_path() %>  &bull;  
  <%= link_to 'Regions', regions_path() %>  &bull;
  <%= link_to 'Cities', cities_path() %> &bull;
  <%= link_to 'Tags', tags_path() %>  &bull;  
  <%= link_to 'Languages', langs_path() %>  &bull;  
  <%= link_to 'Codes', codes_path() %>  &bull;  
  <%= link_to 'About', about_path() %> 
  <!-- todo: add some more links -->
 </p>

<div class='content'>
<%= yield %>
</div>

<div class='version'>
<%= powered_by %>
</div>

<a href="https://github.com/geraldb/world.db.admin">
 <%= image_tag 'forkme_right_green_007200.png', :style => 'position: absolute; top: 0; right: 0; border: 0;' %>
</a>

</body>
</html>
